ul {
  padding: 0;
  list-style-type: none;
}

h2 {
  text-align: center;
  color: brown;
}

.container {
  margin: 0px;
  padding: 50px;
  background-color: #f5f2df;
  text-align: center;
}

button#bwant {
  color: #f5f2df;
  background-color: FireBrick;
  border-color: darkred;
  margin: 7px;
}

button#current {
  color: #f5f2df;
  background-color: SeaGreen;
  border-color: darkgreen;
  margin: 6px;
}

button#finished {
  color: #f5f2df;
  background-color: SteelBlue;
  border-color: darkblue;
  margin: 6px;
}

button.remove {
  color: white;
  background-color: gray;
  border-color: darkgray;
  margin: 6px;
}

#want {
  color: #f5f2df;
  background-color: FireBrick;
  border-color: darkred;
}

#wantTitle {
  color: #f5f2df;
  background-color: FireBrick;
  border-color: darkred;
  font-style: italic;
}

#wantTitle {
  color: #f5f2df;
  background-color: FireBrick;
  border-color: darkred;
  font-style: italic;
}

#finished {
  color: #f5f2df;
  background-color: SteelBlue;
  border-color: darkblue;
}

#finishedTitle {
  color: #f5f2df;
  background-color: SteelBlue;
  border-color: darkblue;
  font-style: italic;
}

#finishedTitle {
  color: #f5f2df;
  background-color: SteelBlue;
  border-color: darkblue;
  font-style: italic;
}

#current {
  color: #f5f2df;
  background-color: SeaGreen;
  border-color: darkgreen;
}

#currentTitle {
  color: #f5f2df;
  background-color: SeaGreen;
  border-color: darkgreen;
  font-style: italic;
}

#currentTitle {
  color: #f5f2df;
  background-color: SeaGreen;
  border-color: darkgreen;
  font-style: italic;
}

.card {
  border: none;
}

.card-body#finished-shelf {
  background-color: CornflowerBlue;
}

.card-body#finished-book {
  background-color: #f5f2df;
}

.card-body#want-shelf {
  background-color: Tomato;
}

.card-body#want-book {
  background-color: #f5f2df;
}

.card-body#current-shelf {
  background-color: MediumSeaGreen;
}

.card-body#current-book {
  background-color: #f5f2df;
}

img {
  margin-bottom: 10px;
  border: solid 2px black;
}
